<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>update</title>
</head>
<body>
    <form th:action="@{/employee}" method="post">
        <input type="hidden" name="_method" value="put"><br>
        id：<input type="text" name="id" th:value="${employee.id}" readonly="readonly"><br>
        lastName：<input type="text" name="LastName" th:value="${employee.lastName}"><br>
        email：<input type="text" name="email" th:value="${employee.email}"><br>
        gender：<input type="radio" name="gender" value="1" th:field="${employee.gender}"/>男
                <input type="radio" name="gender" value="0" th:field="${employee.gender}"/>女<br/>
        <input type="submit" value="修改">
    </form>
</body>
</html>